# Python for Data Analysis
# Chapter10: Data Aggregation and Group Operations

## 10.1 GroupBy Mechanics

In [190]:
import pandas as pd

data = pd.read_csv("normalized_column_counts2.csv",
                   index_col=0, 
                   header=[0,1,2,3]
                  ).T.reset_index()

In [44]:
print(data[1].groupby(data['reagent_id']).mean())
print()
means = data[1].groupby([data['ma_id'], data['reagent_id']]).mean()
print(means)
print()
print(means.unstack())
# We used columsn to groupby but they can be any array

reagent_id
WB00021    4.185685
WB00022    2.798268
WB00023    4.721192
WB00028    1.845842
WB00029    1.353609
WB00030    3.785720
WB00031    1.283132
WB00032    4.226787
WB00033    1.382514
WB00034    2.691734
Name: 1, dtype: float64

ma_id    reagent_id
MB00004  WB00021       4.185685
         WB00022       2.798268
         WB00023       4.721192
         WB00028       1.845842
         WB00029       1.353609
MB00005  WB00030       3.785720
         WB00031       1.283132
         WB00033       1.382514
         WB00034       2.691734
MB00006  WB00032       4.226787
Name: 1, dtype: float64

reagent_id   WB00021   WB00022   WB00023   WB00028   WB00029  WB00030  \
ma_id
MB00004     4.185685  2.798268  4.721192  1.845842  1.353609      NaN
MB00005          NaN       NaN       NaN       NaN       NaN  3.78572
MB00006          NaN       NaN       NaN       NaN       NaN      NaN

reagent_id   WB00031   WB00032   WB00033   WB00034
ma_id
MB00004          NaN       NaN       NaN       NaN
MB00005     1.283132       NaN  1.382514  2.691734
MB00006          NaN  4.226787       NaN       NaN

In [54]:
# Can do to an entire df
data.groupby(['ma_id', 'reagent_id']).mean()
data.groupby(['ma_id', 'reagent_id']).size() # Returns counts for each

ma_id    reagent_id
MB00004  WB00021       1
         WB00022       4
         WB00023       2
         WB00028       5
         WB00029       6
MB00005  WB00030       9
         WB00031       4
         WB00033       8
         WB00034       5
MB00006  WB00032       4
dtype: int64

In [67]:
# Iterating
for name, group in data.groupby(['ma_id']):
    print(name, group)

MB00004 col_number    ma_id reagent_id  step_id  run_id         1         2         3  \
0           MB00004    WB00021  66609.0  D00824  4.185685  4.650022  4.215485
1           MB00004    WB00022  66953.0  D00853       NaN  1.865431  0.713710
2           MB00004    WB00022  66961.0  D00856  6.152633  4.085845  2.351400
3           MB00004    WB00022  67127.0  D00867  1.800260  2.144815  0.625283
4           MB00004    WB00022  67127.0  D00868  0.441911  0.543711  0.188833
5           MB00004    WB00023  66840.0  D00841  6.208886  3.455430  3.283086
6           MB00004    WB00023  66840.0  D00844  3.233498  2.046218  2.398335
7           MB00004    WB00028  67259.0  D00893  2.539181  1.652812  2.288380
8           MB00004    WB00028  67323.0  D00887  2.663373  1.519815  1.743824
9           MB00004    WB00028  67423.0  D00908  2.095734  1.553030  1.733718
10          MB00004    WB00028  67543.0  D00914  0.679939  0.335520  0.438850
11          MB00004    WB00028  67543.0  D00915  1.250981  1.167438  1.664220
12          MB00004    WB00029  67575.0  D00918  2.006779  1.745499  1.748286
13          MB00004    WB00029  67575.0  D00919  1.498263  1.833780  2.845899
14          MB00004    WB00029  67674.0  D00922  1.768223  3.121390  3.245451
15          MB00004    WB00029  67674.0  D00923  0.563029  0.877205  0.854300
16          MB00004    WB00029  67674.0  D00924  1.174935  1.902678  1.784782
17          MB00004    WB00029  67674.0  D00925  1.110424  2.195025  2.021830

col_number         4         5         6  ...        41        42        43  \
0           1.936983  0.144032  2.066366  ...  0.595696  0.514327  0.775596
1           2.019150  1.039727  1.389016  ...  2.098512  1.727742  2.554432
2           7.179285  3.861334  4.858641  ...  0.573343  0.450963  0.692710
3           2.288954  1.542238  1.449729  ...  1.231294  0.903748  1.413481
4           1.299427  1.117911  1.310424  ...  1.229262  0.939791  1.240447
5           1.980615  2.375420  2.343044  ...  1.179766  1.038491  1.151840
6           1.505398  1.657202  1.658973  ...  1.518857  1.139223  1.010951
7           1.517880  2.013610  1.946991  ...  1.954085  2.150408  1.961101
8           1.393158  1.682713  1.577634  ...  2.980793  1.524226  1.439711
9           1.014436  1.570750  1.497067  ...  2.018344  1.894739  1.992491
10          0.324409  0.400565  0.366909  ...  3.015104  2.964893  3.282520
11          0.867972  0.935545  0.919429  ...  1.677985  1.326354  1.360644
12          1.093866  1.303732  1.078304  ...  2.006805  1.925001  1.885777
13          2.026949  2.697178  2.220838  ...  1.362867  1.413223  1.479227
14          2.255492  2.750190  2.585228  ...  1.148929  1.165074  1.325628
15          0.908509  1.279385  1.357951  ...  1.925565  1.959963  1.917019
16          1.189515  1.643267  1.454458  ...  2.006009  2.113848  2.341748
17          1.343863  1.861266  1.349444  ...  1.754958  1.958134  1.705628

col_number        44        45        46        47        48        49  \
0           0.373762  0.146207  0.317984  0.558812  1.279186  1.758154
1           2.831282  2.467941  2.548631  2.584444  3.510399  5.711753
2           0.938869  0.370142  0.987330  1.000657  1.256625  1.344344
3           1.391054  1.467369  1.398806  1.498048  1.831742  2.157543
4           1.500407  1.738310  1.644085  1.686589  2.559663  3.083398
5           1.901804  1.414534  1.037690  0.870354  0.908254  1.059298
6           1.961407  1.215773  0.909895  0.735249  0.681303  1.058391
7           2.347804  2.214914  1.777183  1.939299  2.214983  3.275384
8           1.629001  0.974956  1.843817  1.604324  1.501972  1.617635
9           2.609578  2.532368  2.256427  2.551358  3.090579  4.593952
10          2.979032  2.903884  2.812157  2.273367  2.468357  2.447055
11          1.070513  0.915373  0.705004  0.696309  0.614462  0.442711
12          2.100440  2.009173  2.811215  2.295630  2.548334  1.746596
13          1.801957  1.610273  2.235476  1.839369  2.216248  2.065176
14          1.728701  1.597953  2.627300  2.174208  2.247352  2.156282
15          2.408141  1.733255  1.962147  1.408105  1.513586  1.444156
16          2.507963  2.577517  3.155997  2.546759  3.242526  2.823435
17          2.058675  1.748077  2.596415  2.078399  2.050283  2.271748

col_number        50
0           3.092703
1           0.253867
2           1.092299
3           0.362392
4           2.569168
5           1.609756
6           1.815223
7           4.234694
8           2.417831
9           4.982486
10          2.281674
11          0.278959
12          6.280338
13          2.593486
14          3.279222
15          2.006289
16          3.072097
17          4.555954

[18 rows x 54 columns]
MB00005 col_number    ma_id reagent_id  step_id  run_id          1          2  \
18          MB00005    WB00030  67731.0  D00926   3.426166   3.160222
19          MB00005    WB00030  67731.0  D00927   2.451355   1.722345
20          MB00005    WB00030  67740.0  D00928   3.155403   2.513553
21          MB00005    WB00030  67740.0  D00929   2.476184   2.883294
22          MB00005    WB00030  67740.0  D00930   3.547459   3.373855
23          MB00005    WB00030  67740.0  D00931   4.179197   3.702218
24          MB00005    WB00030  67869.0  D00938   2.354931   3.004901
25          MB00005    WB00030  67869.0  D00939   0.041375   0.414022
26          MB00005    WB00030  67921.0  D00941  12.439413  10.349738
27          MB00005    WB00031  67940.0  D00944   0.144735   0.249322
28          MB00005    WB00031  67940.0  D00945   0.020872   0.115246
29          MB00005    WB00031  67973.0  D00947   1.001009   2.311132
30          MB00005    WB00031  68036.0  D00952   3.965911   4.086545
31          MB00005    WB00033  68180.0  D00962   2.424648   1.312707
32          MB00005    WB00033  68180.0  D00963   1.276866   1.226354
33          MB00005    WB00033  68383.0  D00975   1.454824   1.452452
34          MB00005    WB00033  68383.0  D00976   0.130795   0.149030
35          MB00005    WB00033  68383.0  D00977   0.613080   1.019174
36          MB00005    WB00033  68383.0  D00978   1.275768   0.849040
37          MB00005    WB00033  68459.0  D00983   2.485912   3.052689
38          MB00005    WB00033  68459.0  D00984   1.398218   1.995852
39          MB00005    WB00034  68277.0  D00970   1.124523   1.147916
40          MB00005    WB00034  68277.0  D00971   1.646642   1.305096
41          MB00005    WB00034  68277.0  D00972   2.405857   2.154083
42          MB00005    WB00034  68618.0  D00990   2.487643   2.772555
43          MB00005    WB00034  68618.0  D00991   5.794007   1.991725

col_number         3         4         5         6  ...        41        42  \
18          2.460875  2.042552  2.200532  2.451851  ...  1.817830  1.748292
19          1.735949  1.284126  1.513308  1.999940  ...  2.158701  2.681604
20          2.263341  1.116280  2.086384  2.203092  ...  1.649481  1.774790
21          2.359251  1.710657  2.223205  2.339818  ...  1.836523  1.928260
22          3.628161  2.824597  3.022499  3.077478  ...  1.548265  1.657674
23          2.814944  1.727190  1.811558  2.545357  ...  1.485275  1.770242
24          2.170519  1.815957  2.076904  2.671527  ...  1.291525  1.371985
25          0.503497  0.537356  0.681276  1.127478  ...  2.134377  2.254123
26          3.285225  4.398361  5.321027  5.342909  ...  0.759975  1.387924
27          0.726469  1.266415  2.375883  1.572264  ...  1.921092  1.272814
28          0.158406  0.046841  0.201841  0.243232  ...  2.185374  1.833202
29          2.480988  2.770277  2.258239  1.704021  ...  3.734290  2.545348
30          2.851141  2.279496  2.388625  1.798091  ...  2.028104  1.647223
31          1.933020  1.426339  1.567641  1.788334  ...  1.686335  2.261160
32          1.124677  0.923721  0.962326  1.376654  ...  2.628650  2.956841
33          0.976525  0.877307  1.008013  1.173464  ...  2.828965  3.163629
34          0.154813  0.425109  0.687393  1.095940  ...  1.965843  2.102734
35          0.777445  0.526271  0.626580  0.610976  ...  2.922955  2.720848
36          0.121844  0.226391  0.082126  0.722262  ...  2.433821  6.171136
37          2.310720  2.586425  2.232482  2.706145  ...  1.734853  1.684268
38          1.479197  1.675762  1.445167  1.344128  ...  1.842922  2.187467
39          1.633068  1.339590  1.321980  0.641965  ...  1.545246  1.845114
40          1.979191  1.912090  2.517774  1.916536  ...  2.204641  2.018270
41          2.041708  2.460606  3.010253  1.912610  ...  2.114993  1.789083
42          4.644588  3.351033  3.709201  2.920243  ...  0.369915  0.437679
43          2.221574  1.848818  1.855931  1.598129  ...  2.206250  1.959625

col_number        43        44        45        46        47        48  \
18          1.419252  2.010171  1.210785  1.694227  1.830094  1.754946
19          2.029902  1.723469  1.720099  1.379534  1.044288  1.922084
20          1.774971  3.249060  1.715997  2.954983  3.370451  1.553554
21          2.040140  1.709003  1.973369  1.631530  1.721742  1.744838
22          1.583402  1.366003  1.350256  1.221783  1.301482  1.428607
23          1.716831  1.509740  1.743919  1.302808  1.515157  2.009242
24          1.313957  1.218270  1.227377  0.832875  0.924931  1.081548
25          2.430750  2.279985  2.764837  2.420485  2.686417  2.667289
26          0.989413  0.886458  1.146352  0.649506  1.731540  0.942462
27          1.385712  1.778662  1.367661  1.652558  1.250125  1.268009
28          2.307738  3.269306  3.174213  3.633327  2.985526  2.854086
29          2.327189  3.686385  2.996361  5.026709  4.405101  4.130201
30          1.455092  1.783376  1.794418  2.188301  2.223447  2.328213
31          2.387743  2.131960  2.708834  2.690299  3.572454  3.375496
32          3.011380  1.846715  2.423579  2.410452  2.985344  3.233443
33          3.303153  3.598310  3.643565  3.565254  3.701369  4.507384
34          2.361758  2.375795  2.799494  3.036113  3.188275  3.842483
35          3.366249  3.296858  4.831816  3.939321  4.824971  3.734230
36          2.808560  6.298292  5.069986  2.143770  1.480598  1.300546
37          1.553678  1.654229  1.722346  1.417318  1.065852  1.335608
38          2.004057  2.025607  2.056714  1.941296  2.355876  2.719169
39          1.572390  2.265486  2.191787  1.442186  1.627526  1.589801
40          1.982588  2.524352  2.794763  2.266884  2.154439  2.034962
41          1.311627  1.796536  1.515298  1.601262  1.505210  1.416114
42          0.491268  0.630681  0.718014  0.731264  0.777017  0.908122
43          1.675657  2.112696  2.033097  1.840271  1.748060  1.997067

col_number        49        50
18          1.872129  3.199178
19          1.410038  2.963743
20          3.901995  8.484335
21          2.041812  3.832303
22          1.459626  2.466529
23          1.821699  4.841337
24          1.181165  1.943772
25          2.860294  3.626524
26          2.013052  2.846200
27          1.250372  1.128451
28          4.927231  4.185661
29          6.163999  7.038793
30          2.633234  2.436278
31          4.417014  8.315145
32          3.198144  4.319415
33          4.845578  6.636792
34          4.293289  6.194071
35          6.277396  6.931250
36          1.330520  8.138131
37          1.195412  1.955343
38          2.345179  3.128357
39          1.883967  1.581517
40          2.516266  3.338698
41          1.409595  1.523450
42          0.801102  0.834665
43          2.239525  4.938875

[26 rows x 54 columns]
MB00006 col_number    ma_id reagent_id  step_id  run_id         1         2         3  \
44          MB00006    WB00032  68123.0  D00958  8.122465  3.011881  3.083408
45          MB00006    WB00032  68123.0  D00959  2.506278  1.548035  1.780284
46          MB00006    WB00032  68374.0  D00973  2.995970  2.700287  2.135892
47          MB00006    WB00032  68374.0  D00974  3.282433  2.832484  2.323580

col_number         4         5         6  ...        41        42        43  \
44          2.136720  2.778049  2.169638  ...  1.327272  1.478709  1.601051
45          1.694036  2.101926  1.921200  ...  1.661167  1.918575  2.044342
46          1.974914  2.019083  2.925795  ...  1.215428  1.548850  2.065141
47          2.371245  2.695148  3.470061  ...  1.484294  1.645962  1.534321

col_number        44        45        46        47        48        49  \
44          1.619830  1.597253  1.216995  0.442057  0.008143  0.006054
45          1.901919  1.972963  1.891522  2.288545  2.186219  2.318170
46          2.724063       NaN  1.735539  1.437836  1.344410  2.910178
47          1.310258  1.182046  0.983760  1.285827  0.886286  1.065411

col_number        50
44               NaN
45          2.248940
46          3.378924
47          1.052614

[4 rows x 54 columns]

In [70]:
# Make a dict
pieces = dict(list(data.groupby('ma_id')))
pieces['MB00006']

col_number,ma_id,reagent_id,step_id,run_id,1,2,3,4,5,6,...,41,42,43,44,45,46,47,48,49,50
44,MB00006,WB00032,68123.0,D00958,8.122465,3.011881,3.083408,2.136720,2.778049,2.169638,...,1.327272,1.478709,1.601051,1.619830,1.597253,1.216995,0.442057,0.008143,0.006054,NaN
45,MB00006,WB00032,68123.0,D00959,2.506278,1.548035,1.780284,1.694036,2.101926,1.921200,...,1.661167,1.918575,2.044342,1.901919,1.972963,1.891522,2.288545,2.186219,2.318170,2.248940
46,MB00006,WB00032,68374.0,D00973,2.995970,2.700287,2.135892,1.974914,2.019083,2.925795,...,1.215428,1.548850,2.065141,2.724063,NaN,1.735539,1.437836,1.344410,2.910178,3.378924
47,MB00006,WB00032,68374.0,D00974,3.282433,2.832484,2.323580,2.371245,2.695148,3.470061,...,1.484294,1.645962,1.534321,1.310258,1.182046,0.983760,1.285827,0.886286,1.065411,1.052614

In [78]:
# Can groupby either axis
for name, group in data.groupby(data.dtypes, axis=1):
    print(name, group)

float64 col_number         1          2         3         4         5         6   \
0            4.185685   4.650022  4.215485  1.936983  0.144032  2.066366
1                 NaN   1.865431  0.713710  2.019150  1.039727  1.389016
2            6.152633   4.085845  2.351400  7.179285  3.861334  4.858641
3            1.800260   2.144815  0.625283  2.288954  1.542238  1.449729
4            0.441911   0.543711  0.188833  1.299427  1.117911  1.310424
5            6.208886   3.455430  3.283086  1.980615  2.375420  2.343044
6            3.233498   2.046218  2.398335  1.505398  1.657202  1.658973
7            2.539181   1.652812  2.288380  1.517880  2.013610  1.946991
8            2.663373   1.519815  1.743824  1.393158  1.682713  1.577634
9            2.095734   1.553030  1.733718  1.014436  1.570750  1.497067
10           0.679939   0.335520  0.438850  0.324409  0.400565  0.366909
11           1.250981   1.167438  1.664220  0.867972  0.935545  0.919429
12           2.006779   1.745499  1.748286  1.093866  1.303732  1.078304
13           1.498263   1.833780  2.845899  2.026949  2.697178  2.220838
14           1.768223   3.121390  3.245451  2.255492  2.750190  2.585228
15           0.563029   0.877205  0.854300  0.908509  1.279385  1.357951
16           1.174935   1.902678  1.784782  1.189515  1.643267  1.454458
17           1.110424   2.195025  2.021830  1.343863  1.861266  1.349444
18           3.426166   3.160222  2.460875  2.042552  2.200532  2.451851
19           2.451355   1.722345  1.735949  1.284126  1.513308  1.999940
20           3.155403   2.513553  2.263341  1.116280  2.086384  2.203092
21           2.476184   2.883294  2.359251  1.710657  2.223205  2.339818
22           3.547459   3.373855  3.628161  2.824597  3.022499  3.077478
23           4.179197   3.702218  2.814944  1.727190  1.811558  2.545357
24           2.354931   3.004901  2.170519  1.815957  2.076904  2.671527
25           0.041375   0.414022  0.503497  0.537356  0.681276  1.127478
26          12.439413  10.349738  3.285225  4.398361  5.321027  5.342909
27           0.144735   0.249322  0.726469  1.266415  2.375883  1.572264
28           0.020872   0.115246  0.158406  0.046841  0.201841  0.243232
29           1.001009   2.311132  2.480988  2.770277  2.258239  1.704021
30           3.965911   4.086545  2.851141  2.279496  2.388625  1.798091
31           2.424648   1.312707  1.933020  1.426339  1.567641  1.788334
32           1.276866   1.226354  1.124677  0.923721  0.962326  1.376654
33           1.454824   1.452452  0.976525  0.877307  1.008013  1.173464
34           0.130795   0.149030  0.154813  0.425109  0.687393  1.095940
35           0.613080   1.019174  0.777445  0.526271  0.626580  0.610976
36           1.275768   0.849040  0.121844  0.226391  0.082126  0.722262
37           2.485912   3.052689  2.310720  2.586425  2.232482  2.706145
38           1.398218   1.995852  1.479197  1.675762  1.445167  1.344128
39           1.124523   1.147916  1.633068  1.339590  1.321980  0.641965
40           1.646642   1.305096  1.979191  1.912090  2.517774  1.916536
41           2.405857   2.154083  2.041708  2.460606  3.010253  1.912610
42           2.487643   2.772555  4.644588  3.351033  3.709201  2.920243
43           5.794007   1.991725  2.221574  1.848818  1.855931  1.598129
44           8.122465   3.011881  3.083408  2.136720  2.778049  2.169638
45           2.506278   1.548035  1.780284  1.694036  2.101926  1.921200
46           2.995970   2.700287  2.135892  1.974914  2.019083  2.925795
47           3.282433   2.832484  2.323580  2.371245  2.695148  3.470061

col_number        7         8         9         10  ...        41        42  \
0           2.597778  2.131568  1.505144  2.069702  ...  0.595696  0.514327
1           1.338854  0.845150  1.351582  1.509786  ...  2.098512  1.727742
2           4.625398  2.568686  3.220911  5.241343  ...  0.573343  0.450963
3           1.789643  0.891520  1.063140  1.611299  ...  1.231294  0.903748
4           1.244678  0.337340  1.198167  2.514039  ...  1.229262  0.939791
5           2.167077  2.346677  2.542626  1.563579  ...  1.179766  1.038491
6           1.712426  4.272519  4.056437  1.833581  ...  1.518857  1.139223
7           1.321735  1.890436  1.384029  2.111036  ...  1.954085  2.150408
8           1.323855  1.700260  1.382441  1.579703  ...  2.980793  1.524226
9           1.242398  1.575422  1.360398  1.507934  ...  2.018344  1.894739
10          0.392199  0.442492  0.597573  0.904930  ...  3.015104  2.964893
11          0.973612  3.568927  5.246082  4.539522  ...  1.677985  1.326354
12          1.050123  1.452778  0.927160  1.193175  ...  2.006805  1.925001
13          2.170933  2.431952  1.422515  2.132053  ...  1.362867  1.413223
14          2.447583  2.619926  1.230192  2.028596  ...  1.148929  1.165074
15          1.336109  1.577408  0.860375  1.365387  ...  1.925565  1.959963
16          1.319291  1.257102  0.592420  1.066369  ...  2.006009  2.113848
17          1.300586  1.561063  0.873195  1.405921  ...  1.754958  1.958134
18          1.894491  1.877553  1.585999  1.978944  ...  1.817830  1.748292
19          0.823445  1.715336  1.432299  2.381072  ...  2.158701  2.681604
20          0.977278  1.665174  1.550653  1.678003  ...  1.649481  1.774790
21          1.777282  1.953576  1.791897  1.720486  ...  1.836523  1.928260
22          2.207327  2.393711  2.060227  1.933966  ...  1.548265  1.657674
23          1.582448  1.911089  1.293022  1.299449  ...  1.485275  1.770242
24          1.915214  2.370203  2.120292  2.289263  ...  1.291525  1.371985
25          0.972560  1.395986  1.283901  1.776291  ...  2.134377  2.254123
26          1.473694  3.281090  1.446170  2.977033  ...  0.759975  1.387924
27          1.809408  3.637715  4.331670  3.482040  ...  1.921092  1.272814
28          0.456658  0.674192  0.777488  1.593216  ...  2.185374  1.833202
29          1.508618  1.111950  0.751830  0.961828  ...  3.734290  2.545348
30          1.473629  1.853810  1.799437  1.849181  ...  2.028104  1.647223
31          0.862602  1.251778  1.292438  1.984059  ...  1.686335  2.261160
32          0.584750  1.061268  0.854489  1.314803  ...  2.628650  2.956841
33          0.962071  1.297996  1.090850  1.102887  ...  2.828965  3.163629
34          0.885097  1.176471  1.032106  1.276053  ...  1.965843  2.102734
35          0.366085  0.700332  0.905661  1.174901  ...  2.922955  2.720848
36          0.237594  3.073185  0.329606  0.939160  ...  2.433821  6.171136
37          1.910235  1.826126  2.329317  2.390949  ...  1.734853  1.684268
38          1.014740  1.563917  1.678575  1.767720  ...  1.842922  2.187467
39          0.520918  0.335451  0.319577  0.272307  ...  1.545246  1.845114
40          2.417610  2.133165  2.417389  2.291286  ...  2.204641  2.018270
41          2.220112  2.037181  2.687654  2.098888  ...  2.114993  1.789083
42          3.129076  3.241242  3.085029  2.721928  ...  0.369915  0.437679
43          2.335646  1.901904  1.960241  2.005235  ...  2.206250  1.959625
44          1.929447  1.906796  1.934262  2.119399  ...  1.327272  1.478709
45          1.672224  1.838507  2.132689       NaN  ...  1.661167  1.918575
46          2.067563  1.646660  2.028674  2.082718  ...  1.215428  1.548850
47          3.586499  3.267816  2.394888  2.151163  ...  1.484294  1.645962

col_number        43        44        45        46        47        48  \
0           0.775596  0.373762  0.146207  0.317984  0.558812  1.279186
1           2.554432  2.831282  2.467941  2.548631  2.584444  3.510399
2           0.692710  0.938869  0.370142  0.987330  1.000657  1.256625
3           1.413481  1.391054  1.467369  1.398806  1.498048  1.831742
4           1.240447  1.500407  1.738310  1.644085  1.686589  2.559663
5           1.151840  1.901804  1.414534  1.037690  0.870354  0.908254
6           1.010951  1.961407  1.215773  0.909895  0.735249  0.681303
7           1.961101  2.347804  2.214914  1.777183  1.939299  2.214983
8           1.439711  1.629001  0.974956  1.843817  1.604324  1.501972
9           1.992491  2.609578  2.532368  2.256427  2.551358  3.090579
10          3.282520  2.979032  2.903884  2.812157  2.273367  2.468357
11          1.360644  1.070513  0.915373  0.705004  0.696309  0.614462
12          1.885777  2.100440  2.009173  2.811215  2.295630  2.548334
13          1.479227  1.801957  1.610273  2.235476  1.839369  2.216248
14          1.325628  1.728701  1.597953  2.627300  2.174208  2.247352
15          1.917019  2.408141  1.733255  1.962147  1.408105  1.513586
16          2.341748  2.507963  2.577517  3.155997  2.546759  3.242526
17          1.705628  2.058675  1.748077  2.596415  2.078399  2.050283
18          1.419252  2.010171  1.210785  1.694227  1.830094  1.754946
19          2.029902  1.723469  1.720099  1.379534  1.044288  1.922084
20          1.774971  3.249060  1.715997  2.954983  3.370451  1.553554
21          2.040140  1.709003  1.973369  1.631530  1.721742  1.744838
22          1.583402  1.366003  1.350256  1.221783  1.301482  1.428607
23          1.716831  1.509740  1.743919  1.302808  1.515157  2.009242
24          1.313957  1.218270  1.227377  0.832875  0.924931  1.081548
25          2.430750  2.279985  2.764837  2.420485  2.686417  2.667289
26          0.989413  0.886458  1.146352  0.649506  1.731540  0.942462
27          1.385712  1.778662  1.367661  1.652558  1.250125  1.268009
28          2.307738  3.269306  3.174213  3.633327  2.985526  2.854086
29          2.327189  3.686385  2.996361  5.026709  4.405101  4.130201
30          1.455092  1.783376  1.794418  2.188301  2.223447  2.328213
31          2.387743  2.131960  2.708834  2.690299  3.572454  3.375496
32          3.011380  1.846715  2.423579  2.410452  2.985344  3.233443
33          3.303153  3.598310  3.643565  3.565254  3.701369  4.507384
34          2.361758  2.375795  2.799494  3.036113  3.188275  3.842483
35          3.366249  3.296858  4.831816  3.939321  4.824971  3.734230
36          2.808560  6.298292  5.069986  2.143770  1.480598  1.300546
37          1.553678  1.654229  1.722346  1.417318  1.065852  1.335608
38          2.004057  2.025607  2.056714  1.941296  2.355876  2.719169
39          1.572390  2.265486  2.191787  1.442186  1.627526  1.589801
40          1.982588  2.524352  2.794763  2.266884  2.154439  2.034962
41          1.311627  1.796536  1.515298  1.601262  1.505210  1.416114
42          0.491268  0.630681  0.718014  0.731264  0.777017  0.908122
43          1.675657  2.112696  2.033097  1.840271  1.748060  1.997067
44          1.601051  1.619830  1.597253  1.216995  0.442057  0.008143
45          2.044342  1.901919  1.972963  1.891522  2.288545  2.186219
46          2.065141  2.724063       NaN  1.735539  1.437836  1.344410
47          1.534321  1.310258  1.182046  0.983760  1.285827  0.886286

col_number        49        50
0           1.758154  3.092703
1           5.711753  0.253867
2           1.344344  1.092299
3           2.157543  0.362392
4           3.083398  2.569168
5           1.059298  1.609756
6           1.058391  1.815223
7           3.275384  4.234694
8           1.617635  2.417831
9           4.593952  4.982486
10          2.447055  2.281674
11          0.442711  0.278959
12          1.746596  6.280338
13          2.065176  2.593486
14          2.156282  3.279222
15          1.444156  2.006289
16          2.823435  3.072097
17          2.271748  4.555954
18          1.872129  3.199178
19          1.410038  2.963743
20          3.901995  8.484335
21          2.041812  3.832303
22          1.459626  2.466529
23          1.821699  4.841337
24          1.181165  1.943772
25          2.860294  3.626524
26          2.013052  2.846200
27          1.250372  1.128451
28          4.927231  4.185661
29          6.163999  7.038793
30          2.633234  2.436278
31          4.417014  8.315145
32          3.198144  4.319415
33          4.845578  6.636792
34          4.293289  6.194071
35          6.277396  6.931250
36          1.330520  8.138131
37          1.195412  1.955343
38          2.345179  3.128357
39          1.883967  1.581517
40          2.516266  3.338698
41          1.409595  1.523450
42          0.801102  0.834665
43          2.239525  4.938875
44          0.006054       NaN
45          2.318170  2.248940
46          2.910178  3.378924
47          1.065411  1.052614

[48 rows x 50 columns]
object col_number    ma_id reagent_id  step_id  run_id
0           MB00004    WB00021  66609.0  D00824
1           MB00004    WB00022  66953.0  D00853
2           MB00004    WB00022  66961.0  D00856
3           MB00004    WB00022  67127.0  D00867
4           MB00004    WB00022  67127.0  D00868
5           MB00004    WB00023  66840.0  D00841
6           MB00004    WB00023  66840.0  D00844
7           MB00004    WB00028  67259.0  D00893
8           MB00004    WB00028  67323.0  D00887
9           MB00004    WB00028  67423.0  D00908
10          MB00004    WB00028  67543.0  D00914
11          MB00004    WB00028  67543.0  D00915
12          MB00004    WB00029  67575.0  D00918
13          MB00004    WB00029  67575.0  D00919
14          MB00004    WB00029  67674.0  D00922
15          MB00004    WB00029  67674.0  D00923
16          MB00004    WB00029  67674.0  D00924
17          MB00004    WB00029  67674.0  D00925
18          MB00005    WB00030  67731.0  D00926
19          MB00005    WB00030  67731.0  D00927
20          MB00005    WB00030  67740.0  D00928
21          MB00005    WB00030  67740.0  D00929
22          MB00005    WB00030  67740.0  D00930
23          MB00005    WB00030  67740.0  D00931
24          MB00005    WB00030  67869.0  D00938
25          MB00005    WB00030  67869.0  D00939
26          MB00005    WB00030  67921.0  D00941
27          MB00005    WB00031  67940.0  D00944
28          MB00005    WB00031  67940.0  D00945
29          MB00005    WB00031  67973.0  D00947
30          MB00005    WB00031  68036.0  D00952
31          MB00005    WB00033  68180.0  D00962
32          MB00005    WB00033  68180.0  D00963
33          MB00005    WB00033  68383.0  D00975
34          MB00005    WB00033  68383.0  D00976
35          MB00005    WB00033  68383.0  D00977
36          MB00005    WB00033  68383.0  D00978
37          MB00005    WB00033  68459.0  D00983
38          MB00005    WB00033  68459.0  D00984
39          MB00005    WB00034  68277.0  D00970
40          MB00005    WB00034  68277.0  D00971
41          MB00005    WB00034  68277.0  D00972
42          MB00005    WB00034  68618.0  D00990
43          MB00005    WB00034  68618.0  D00991
44          MB00006    WB00032  68123.0  D00958
45          MB00006    WB00032  68123.0  D00959
46          MB00006    WB00032  68374.0  D00973
47          MB00006    WB00032  68374.0  D00974

In [94]:
# Can select columns from groupby
data.groupby(['ma_id', 'reagent_id'])[[1,25,50]].max()

col_number                 1         25        50
ma_id   reagent_id
MB00004 WB00021      4.185685  1.283574  3.092703
        WB00022      6.152633  2.424587  2.569168
        WB00023      6.208886  2.122556  1.815223
        WB00028      2.663373  2.642628  4.982486
        WB00029      2.006779  2.681650  6.280338
MB00005 WB00030     12.439413  2.158312  8.484335
        WB00031      3.965911  1.875615  7.038793
        WB00033      2.485912  2.346118  8.315145
        WB00034      5.794007  2.995425  4.938875
MB00006 WB00032      8.122465  2.200798  3.378924

In [114]:
# Grouping by function
data2 = data.set_index('run_id') # move run_id into index
data2.groupby(lambda x: int(x[-3:]) % 2).mean() # Even v odd numbered runs lol

col_number,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
0,2.541096,2.191577,2.067536,1.856538,1.912365,1.946494,1.720638,2.012910,1.787117,1.954239,...,1.630804,1.770820,1.648043,2.023339,1.816552,1.827253,1.789917,1.868123,2.119261,3.430074
1,2.565973,2.187732,1.778546,1.631893,1.781735,1.836905,1.443054,1.719274,1.609246,1.864802,...,1.994302,1.932246,1.992801,2.173488,2.151651,2.133984,2.117285,2.208561,2.782675,3.391501

In [151]:
# Can use multiindex for groupby as well
d3 = data.set_index(list(data.columns[:5])).T
d3.groupby(level=['ma_id', 'reagent_id'], axis=1).count()

ma_id      MB00004                                 MB00005                  \
reagent_id WB00021 WB00022 WB00023 WB00028 WB00029 WB00030 WB00031 WB00033
col_number
2                1       4       2       5       6       9       4       8
3                1       4       2       5       6       9       4       8
4                1       4       2       5       6       9       4       8
5                1       4       2       5       6       9       4       8
6                1       4       2       5       6       9       4       8
7                1       4       2       5       6       9       4       8
8                1       4       2       5       6       9       4       8
9                1       4       2       5       6       9       4       8
10               1       4       2       5       6       9       4       8
11               1       4       2       5       6       8       4       7
12               1       4       2       5       6       9       4       8
13               1       4       2       5       6       9       4       8
14               1       4       2       5       6       9       4       8
15               1       4       2       5       6       9       4       8
16               1       4       2       5       6       9       4       8
17               1       4       2       5       6       9       4       8
18               1       4       2       5       6       9       4       8
19               1       3       2       5       6       9       4       8
20               1       4       2       5       6       9       4       8
21               1       4       2       5       6       9       4       8
22               0       0       0       5       6       9       4       8
23               1       4       2       5       6       9       4       8
24               1       4       2       5       6       9       4       8
25               1       4       2       5       6       9       4       8
26               1       4       2       5       6       9       4       8
27               1       4       2       5       6       9       4       8
28               1       4       2       5       6       9       4       8
29               1       4       2       5       6       9       4       8
30               1       4       2       5       6       9       4       8
31               1       4       2       5       6       9       4       8
32               1       4       2       5       6       9       4       8
33               1       4       2       5       6       9       4       8
34               1       4       2       5       6       9       4       8
35               1       4       2       5       6       9       4       8
36               1       4       2       5       6       9       4       8
37               1       4       2       5       6       9       4       8
38               1       4       2       5       6       9       4       8
39               1       4       2       5       6       9       4       8
40               1       4       2       5       6       9       4       8
41               1       4       2       5       6       9       4       8
42               1       4       2       5       6       9       4       8
43               1       4       2       5       6       9       4       8
44               1       4       2       5       6       9       4       8
45               1       4       2       5       6       9       4       8
46               1       4       2       5       6       9       4       8
47               1       4       2       5       6       9       4       8
48               1       4       2       5       6       9       4       8
49               1       4       2       5       6       9       4       8
50               1       4       2       5       6       9       4       8

ma_id              MB00006
reagent_id WB00034 WB00032
col_number
2                5       4
3                5       4
4                5       4
5                5       4
6                5       4
7                5       4
8                5       4
9                5       4
10               5       3
11               5       4
12               5       4
13               5       4
14               5       4
15               5       4
16               5       4
17               5       4
18               5       4
19               5       4
20               5       4
21               5       4
22               5       4
23               5       4
24               5       4
25               5       4
26               5       4
27               5       4
28               5       4
29               5       4
30               5       4
31               5       4
32               5       4
33               5       4
34               5       4
35               5       4
36               5       4
37               5       4
38               5       4
39               5       4
40               5       4
41               5       4
42               5       4
43               5       4
44               5       4
45               5       3
46               5       4
47               5       4
48               5       4
49               5       4
50               5       3

## 10.2 Data Aggregation

In [166]:
grouped = data.groupby('ma_id')
# print(grouped.quantile(0.9))
lmda = lambda x: x.max() - x.min()
print(grouped.agg(lmda)) # Pass your own functions with .agg
# Can do describe as well
grouped.describe()

col_number         1          2         3         4         5         6   \
ma_id
MB00004      5.766975   4.314502  4.026652  6.854876  3.717302  4.491732
MB00005     12.418541  10.234492  4.522745  4.351519  5.238901  5.099677
MB00006      5.616188   1.463846  1.303124  0.677210  0.758966  1.548861

col_number        7         8         9         10  ...        41        42  \
ma_id                                               ...
MB00004     4.233199  3.935179  4.653661  4.336413  ...  2.441761  2.513930
MB00005     2.891482  3.302263  4.012094  3.209734  ...  3.364375  5.733457
MB00006     1.914276  1.621156  0.460625  0.068445  ...  0.445739  0.439866

col_number       43        44        45        46        47        48  \
ma_id
MB00004     2.58981  2.605270  2.757677  2.838012  2.025632  2.895936
MB00005     2.87498  5.667611  4.351972  4.377202  4.047954  3.599262
MB00006     0.53082  1.413804  0.790916  0.907763  1.846487  2.178077

col_number        49        50
ma_id
MB00004     5.269042  6.026471
MB00005     5.476294  7.649671
MB00006     2.904124  2.326311

[3 rows x 50 columns]

col_number    1                                                               \
           count      mean       std       min       25%       50%       75%
ma_id
MB00004     17.0  2.316102  1.748441  0.441911  1.174935  1.800260  2.663373
MB00005     26.0  2.450877  2.482351  0.020872  1.162334  2.380394  2.988463
MB00006      4.0  4.226787  2.616816  2.506278  2.873547  3.139202  4.492441

col_number               2             ...        49              50  \
                  max count      mean  ...       75%       max count
ma_id                                  ...
MB00004      6.208886  18.0  2.038648  ...  2.729340  5.711753  18.0
MB00005     12.439413  26.0  2.242887  ...  3.726032  6.277396  26.0
MB00006      8.122465   4.0  2.523172  ...  2.466172  2.910178   3.0

col_number                                                              \
                mean       std       min       25%       50%       75%
ma_id
MB00004     2.598802  1.661009  0.253867  1.661123  2.493499  3.232592
MB00005     4.108801  2.321457  0.834665  2.443841  3.482611  5.880272
MB00006     2.226826  1.163313  1.052614  1.650777  2.248940  2.813932

col_number
                 max
ma_id
MB00004     6.280338
MB00005     8.484335
MB00006     3.378924

[3 rows x 400 columns]

In [182]:
# Aggreagtions on particular columns
grouped[1].agg('mean')

# multiple Aggregations
grouped[1].agg(['mean', 'std', ('range', lmda)]) # Pass the names in tuple
grouped.agg(['mean', 'std', ('range', lmda)]) # Can do the whole df

# or a subset
funcs = ['mean', 'std', ('range', lmda)]
grouped[1, 25, 50].agg(funcs)

<ipython-input-182-19bb0cd0c045>:10: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  grouped[1, 25, 50].agg(funcs)

               1                              25                      \
             mean       std      range      mean       std     range
ma_id
MB00004  2.316102  1.748441   5.766975  1.943151  0.425803  1.402462
MB00005  2.450877  2.482351  12.418541  1.752119  0.586705  2.484200
MB00006  4.226787  2.616816   5.616188  2.008181  0.163757  0.396736

               50
             mean       std     range
ma_id
MB00004  2.598802  1.661009  6.026471
MB00005  4.108801  2.321457  7.649671
MB00006  2.226826  1.163313  2.326311

In [184]:
# Can do column-aggregation mapping
grouped.agg({1 : funcs,
            2 : 'mean'})

                1                              2
             mean       std      range      mean
ma_id
MB00004  2.316102  1.748441   5.766975  2.038648
MB00005  2.450877  2.482351  12.418541  2.242887
MB00006  4.226787  2.616816   5.616188  2.523172

In [196]:
# Can move key out of index
data.groupby('ma_id', as_index=False).mean()

col_number,ma_id,1,2,3,4,5,6,7,8,9,...,41,42,43,44,45,46,47,48,49,50
0,MB00004,2.316102,2.038648,1.896982,1.785881,1.659782,1.746136,1.686349,1.859513,1.711910,...,1.682121,1.506119,1.640608,1.896688,1.646557,1.868198,1.685627,1.985325,2.280945,2.598802
1,MB00005,2.450877,2.242887,1.878351,1.669214,1.891852,1.880171,1.396869,1.824669,1.623377,...,1.962931,2.121975,1.946325,2.270285,2.257498,2.139012,2.229896,2.218442,2.703447,4.108801
2,MB00006,4.226787,2.523172,2.330791,2.044229,2.398551,2.621673,2.313933,2.164945,2.122628,...,1.422040,1.648024,1.811214,1.889018,1.584087,1.456954,1.363566,1.106264,1.574953,2.226826

## 10.3 Apply: General split-apply-combine

In [212]:
# Apply give most general control 
def top_n(df, n=5, col=1):
    return df.sort_values(by=col)[-n:]

data.groupby(['ma_id', 'reagent_id'], as_index=False).apply(top_n, col=1, n=1).iloc[:,:5]

col_number    ma_id reagent_id  step_id  run_id          1
0 0         MB00004    WB00021  66609.0  D00824   4.185685
1 1         MB00004    WB00022  66953.0  D00853        NaN
2 5         MB00004    WB00023  66840.0  D00841   6.208886
3 8         MB00004    WB00028  67323.0  D00887   2.663373
4 12        MB00004    WB00029  67575.0  D00918   2.006779
5 26        MB00005    WB00030  67921.0  D00941  12.439413
6 30        MB00005    WB00031  68036.0  D00952   3.965911
7 37        MB00005    WB00033  68459.0  D00983   2.485912
8 43        MB00005    WB00034  68618.0  D00991   5.794007
9 44        MB00006    WB00032  68123.0  D00958   8.122465

In [219]:
# Can do with describe too
data.groupby(['ma_id', 'reagent_id'])[1,50].describe()

<ipython-input-219-da932b875a27>:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  data.groupby(['ma_id', 'reagent_id'])[1,50].describe()

col_number            1                                                     \
                   count      mean       std       min       25%       50%
ma_id   reagent_id
MB00004 WB00021      1.0  4.185685       NaN  4.185685  4.185685  4.185685
        WB00022      3.0  2.798268  2.983304  0.441911  1.121085  1.800260
        WB00023      2.0  4.721192  2.103917  3.233498  3.977345  4.721192
        WB00028      5.0  1.845842  0.855089  0.679939  1.250981  2.095734
        WB00029      6.0  1.353609  0.516825  0.563029  1.126552  1.336599
MB00005 WB00030      9.0  3.785720  3.449407  0.041375  2.451355  3.155403
        WB00031      4.0  1.283132  1.840846  0.020872  0.113770  0.572872
        WB00033      8.0  1.382514  0.800927  0.130795  1.110096  1.337542
        WB00034      5.0  2.691734  1.823174  1.124523  1.646642  2.405857
MB00006 WB00032      4.0  4.226787  2.616816  2.506278  2.873547  3.139202

col_number                                 50                                \
                         75%        max count      mean       std       min
ma_id   reagent_id
MB00004 WB00021     4.185685   4.185685   1.0  3.092703       NaN  3.092703
        WB00022     3.976447   6.152633   4.0  1.069431  1.066893  0.253867
        WB00023     5.465039   6.208886   2.0  1.712489  0.145287  1.609756
        WB00028     2.539181   2.663373   5.0  2.839129  1.842844  0.278959
        WB00029     1.700733   2.006779   6.0  3.631231  1.550920  2.006289
MB00005 WB00030     3.547459  12.439413   9.0  3.800436  1.944617  1.943772
        WB00031     1.742235   3.965911   4.0  3.697296  2.555597  1.128451
        WB00033     1.697280   2.485912   8.0  5.702313  2.328792  1.955343
        WB00034     2.487643   5.794007   5.0  2.443441  1.673778  0.834665
MB00006 WB00032     4.492441   8.122465   3.0  2.226826  1.163313  1.052614

col_number
                         25%       50%       75%       max
ma_id   reagent_id
MB00004 WB00021     3.092703  3.092703  3.092703  3.092703
        WB00022     0.335261  0.727345  1.461516  2.569168
        WB00023     1.661123  1.712489  1.763856  1.815223
        WB00028     2.281674  2.417831  4.234694  4.982486
        WB00029     2.713139  3.175660  4.236771  6.280338
MB00005 WB00030     2.846200  3.199178  3.832303  8.484335
        WB00031     2.109321  3.310970  4.898944  7.038793
        WB00033     4.021651  6.415432  7.232970  8.315145
        WB00034     1.523450  1.581517  3.338698  4.938875
MB00006 WB00032     1.650777  2.248940  2.813932  3.378924

In [522]:
# Using cut to compute quantiles
d4 = data.iloc[:,:6]
# d4['qs'] = pd.cut(d4[1], 4)
# d4.value_counts('qs').plot(kind='bar')
d4.groupby(pd.cut(d4[1], 4)).agg(['min', 'max', 'mean', 'std']).stack()

                               1          2
1
(0.00845, 3.126] min    0.020872   0.115246
                 max    2.995970   3.121390
                 mean   1.538545   1.587596
                 std    0.869447   0.867670
(3.126, 6.23]    min    3.155403   1.991725
                 max    6.208886   4.650022
                 mean   4.284662   3.263465
                 std    1.194057   0.858815
(6.23, 9.335]    min    8.122465   3.011881
                 max    8.122465   3.011881
                 mean   8.122465   3.011881
(9.335, 12.439]  min   12.439413  10.349738
                 max   12.439413  10.349738
                 mean  12.439413  10.349738